
<%= form_for(@listing) do |f|%>

<p>Fill In The Description<%= f.text_field :description %></p></br>
<p>Accomodates how many?<%= f.text_field :accomodates %></p></br>
<p>Your City<%= f.text_field :city %></p></br>
<p>Rental Price<%= f.text_field :price %></p></br>
<p>Upload Your Photo Here<%= f.text_field :photo_url %></p></br>
<p><%=f.submit%></p>

<%end%>
