
      <div class="container marketing">

<!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <%end%>


  <div class="data col-sm-4">
    <div>
    <div id ="listing-pictures">
      <%@listing.each do |x|%>
        </div>
      <div class="details primary">
        <h4 itemprop="name"><%=x.description%></h4>
        <h6>Hosted By:<%=x.user.first_name%></h6>

        <p>Listing City: <%=x.city%></p>
        <p>Address: <%=x.address%></p>
        <p>Accommodates: <%=x.accomodates%></p>


      </div>
      <div class="pricing secondary">
        <p class="currency">MYR <%=x.price%></p>
        <p class="per-night">per night</p>
          <button class="btn btn-sm btn-deal"><span class="instant-booking-icon"></span>Book Now!</button>
      </div>

    </div>

   

        <img src="" alt="" class="img-thumbnail"><%= image_tag x.image_url.to_s %></img>

          <%end%>



