<!--
<p id="notice"><%= notice %></p>
					
					<h1 class="tag-title">Details</h1>
                    <h3><%=@listing.description%></h3>
                    <h5>City: <%=@listing.city%></h5>
                    <h5>Property type: <%=@listing.accomodates%></h5>
                    <h5>Accommodates: <%=@listing.city%></h5>
                    <h5>Bedrooms: <%=@listing.price%></h5>
                    <h5>Beds: <%=@listing.smoking_room%></h5>
                    <h5>Bathrooms: <%=@listing.pet_friendly%></h5>
                    <h5>Price: $<%=@listing.apartment%></h5>
-->

<%= render partial: "layouts/navbar" %>


<div class="jumbotron" style="background-image: url(https://resources.vrbo.com/resources/44226/images/banner-438967.jpg); background-size: auto; height: 400px">
<h1 class ="jumbtotron"/> </h1>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <%= image_tag @listing.image_url.to_s %>
  </div>

  <div class="col-md-3 col-md-offset-3">
     <div class="details primary">
        <h4 itemprop="name"><%=@listing.description%></h4>
        <h6>Uploaded By: <%=@listing.user.first_name%></h6>
        <p>Listing City: <%=@listing.city%></p>
        <p>Address: <%=@listing.address%></p>
        <p>Accommodates: <%=@listing.accomodates%></p>
        <p>Listing ID: <%=@listing.id%></p>
     </div>
        <div class="col-xs-6 .col-md-6">
        <% if @current_user_id == @listing.user_id %>
          <%= link_to "edit", edit_listing_path(@listing) %> |
          <%= link_to "Delete", listing_path(@listing), :confirm => "Are you sure?", :method => :delete %>
          <%else%>
              <%= render partial: "reservations/form" %>
          <%end%>
          <!--
          <div class="calendar-pop-up">
                <input type="text" name="daterange" value="" />

                <script type="text/javascript">
                $(function() {
                    $('input[name="daterange"]').daterangepicker({
                    },function(start, end, label) {
  console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')"});    
                    });
                </script>
          -->





          </div>
      </div>
  </div>
</div>







