<%= form_for @user do |form| %>
<div class="name-field">
 <%= form.label :first_name %>
 <br>
 <br>
 <%= form.text_field :first_name, type: 'first_name' %>
</div>

<div class="text-field">
 <%= form.label :email %>
  <br>
 <br>
 <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
 <%= form.label :password %>
  <br>
 <br>
 <%= form.password_field :password %>
</div>

<div class="field">
 <%= form.label :upload_image %>
 <br>
  <br>
 
 <%= form.file_field :avatar %>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<%end%>