
<h1>Pay and Confirm Your Order:</h1>


<%= form_for(@payment) do |f| %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= @reservation.start_date %><br>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= @reservation.end_date %><br>
  </div>
  <div class="field">
    <%= f.hidden_field :reservation_secure_token, value: @reservation.secure_token %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>